In [11]:
import yfinance as yf
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [14]:
msft.dir()

AttributeError: 'Ticker' object has no attribute 'dir'

In [4]:
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2021-05-19       0.56           0.0
2021-08-18       0.56           0.0
2021-11-17       0.62           0.0
2022-02-16       0.62           0.0
2022-05-18       0.62           0.0

[83 rows x 2 columns]

In [5]:
msft.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2021-05-19    0.56
2021-08-18    0.56
2021-11-17    0.62
2022-02-16    0.62
2022-05-18    0.62
Name: Dividends, Length: 74, dtype: float64

In [6]:
msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [7]:
msft.financials

,2021-06-30,2020-06-30,2019-06-30,2018-06-30
Research Development,2.0716e+10,1.9269e+10,1.6876e+10,1.4726e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,7.1102e+10,5.3036e+10,4.3688e+10,3.6474e+10
Minority Interest,None,None,None,None
Net Income,6.1271e+10,4.4281e+10,3.924e+10,1.6571e+10
Selling General Administrative,2.5224e+10,2.4523e+10,2.3098e+10,2.2223e+10
Gross Profit,1.15856e+11,9.6937e+10,8.2933e+10,7.2007e+10
Ebit,6.9916e+10,5.3145e+10,4.2959e+10,3.5058e+10
Operating Income,6.9916e+10,5.3145e+10,4.2959e+10,3.5058e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.33e+09,-2.591e+09,-2.686e+09,-2.733e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9.831e+09,8.755e+09,4.448e+09,1.9903e+10
Total Revenue,1.68088e+11,1.43015e+11,1.25843e+11,1.1036e+11
Total Operating Expenses,9.8172e+10,8.987e+10,8.2884e+10,7.5302e+10
Cost Of Revenue,5.2232e+10,4.6078e+10,4.291e+10,3.8353e+10
Total Other Income Expense Net,1.186e+09,-1.09e+08,7.29e+08,1.416e+09
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,6.1271e+10,4.4281e+10,3.924e+10,1.6571e+10
Net Income Applicable To Common Shares,6.1271e+10,4.4281e+10,3.924e+10,1.6571e+10

In [8]:
msft.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,6.306e+09,5.758e+09,5.599e+09,5.687e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,2.019e+10,2.2515e+10,2.0524e+10,1.9405e+10
Minority Interest,None,None,None,None
Net Income,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10
Selling General Administrative,7.075e+09,6.763e+09,5.834e+09,7.379e+09
Gross Profit,3.3745e+10,3.4768e+10,3.1671e+10,3.2161e+10
Ebit,2.0364e+10,2.2247e+10,2.0238e+10,1.9095e+10
Operating Income,2.0364e+10,2.2247e+10,2.0238e+10,1.9095e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-4.99e+08,-5.21e+08,-5.35e+08,-5.49e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,3.462e+09,3.75e+09,1.9e+07,2.947e+09
Total Revenue,4.936e+10,5.1728e+10,4.5317e+10,4.6152e+10
Total Operating Expenses,2.8996e+10,2.9481e+10,2.5079e+10,2.7057e+10
Cost Of Revenue,1.5615e+10,1.696e+10,1.3646e+10,1.3991e+10
Total Other Income Expense Net,-1.74e+08,2.68e+08,2.86e+08,3.1e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10
Net Income Applicable To Common Shares,1.6728e+10,1.8765e+10,2.0505e+10,1.6458e+10

In [10]:
msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",621598157,2022-03-30,0.0831,191644927784
1,Blackrock Inc.,523749870,2022-03-30,0.0700,161477322419
2,State Street Corporation,300098242,2022-03-30,0.0401,92523288991
3,"FMR, LLC",210344695,2022-03-30,0.0281,64851372915
4,Price (T.Rowe) Associates Inc,195303799,2022-03-30,0.0261,60214114269
5,"Geode Capital Management, LLC",133424701,2022-03-30,0.0178,41136169565
6,Capital World Investors,104707015,2022-03-30,0.0140,32282219794
7,Northern Trust Corporation,86713343,2022-03-30,0.0116,26734590780
8,Capital International Investors,86682397,2022-03-30,0.0116,26725049819
9,Capital Research Global Investors,86423951,2022-03-30,0.0116,26645368332

In [12]:
msft.quarterly_balance_sheet
msft.quarterly_balance_sheet

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Intangible Assets,1.134800e+10,7.462000e+09,7.794000e+09,7.800000e+09
Total Liab,1.816830e+11,1.803790e+11,1.834400e+11,1.917910e+11
Total Stockholder Equity,1.629240e+11,1.600100e+11,1.519780e+11,1.419880e+11
Other Current Liab,4.739100e+10,4.634600e+10,5.262200e+10,5.261200e+10
Total Assets,3.446070e+11,3.403890e+11,3.354180e+11,3.337790e+11
Common Stock,8.576700e+10,8.452800e+10,8.375100e+10,8.311100e+10
Other Current Assets,1.335300e+10,1.230100e+10,1.298200e+10,1.347100e+10
Retained Earnings,7.963300e+10,7.504500e+10,6.694400e+10,5.705500e+10
Other Liab,3.115900e+10,3.058400e+10,3.015700e+10,3.168100e+10
Good Will,6.737100e+10,5.092100e+10,5.045500e+10,4.971100e+10
Treasury Stock,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Other Assets,2.184500e+10,2.125600e+10,2.110300e+10,1.507500e+10
Cash,1.249800e+10,2.060400e+10,1.916500e+10,1.422400e+10
Total Current Liabilities,7.743900e+10,7.751000e+10,8.052800e+10,8.865700e+10
Short Long Term Debt,1.749000e+09,4.998000e+09,3.249000e+09,8.072000e+09
Other Stockholder Equity,-2.476000e+09,4.370000e+08,1.283000e+09,1.822000e+09
Property Plant Equipment,8.321400e+10,7.956800e+10,7.534700e+10,7.080300e+10
Total Current Assets,1.539220e+11,1.741880e+11,1.743260e+11,1.844060e+11
Long Term Investments,6.907000e+09,6.994000e+09,6.393000e+09,5.984000e+09
Net Tangible Assets,8.420500e+10,1.016270e+11,9.372900e+10,8.447700e+10
Short Term Investments,9.216200e+10,1.047440e+11,1.114190e+11,1.160320e+11
Net Receivables,3.261300e+10,3.352000e+10,2.734900e+10,3.804300e+10
Long Term Debt,4.817700e+10,4.826000e+10,5.003900e+10,5.007400e+10
Inventory,3.296000e+09,3.019000e+09,3.411000e+09,2.636000e+09
Accounts Payable,1.608500e+10,1.531400e+10,1.483200e+10,1.516300e+10
Deferred Long Term Asset Charges,NaN,NaN,NaN,7.181000e+09

In [ ]:
msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials
msft.quarterly_financials

# show major holders
msft.major_holders

# show institutional holders
msft.institutional_holders

# show balance sheet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

# show options expirations
msft.options

# show news
msft.news

# get option chain for specific expiration
# opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts